{
    "singleQuote": false,
    "tabWidth": 4,
    "endOfLine": "lf",
    "semi": true,
    "overrides": [
        {
            "files": ["src/data/*.ts"],
            "options": {
                "printWidth": 800
            }
        }
    ]
}
